.dialog_main {
  input, textarea {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    box-sizing: border-box;
  }
  textarea {
    font-weight: normal;
    height: 200px;
  }
  input:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
  }
  button {
    padding: 5px 20px;
  }
}
